html {
	min-height: 100%;
	position: relative;
}

body {
	color: #fff;
	background: #eee;
	margin-bottom: 100px;
	font-family: Lucida Sans Unicode, Verdana;
}

a, a:hover {
	text-decoration: none;
	border-bottom: 1px dotted #fff;
}

h3 {margin: 0;}
*:focus {outline: none;}
.navbar-nav > .active a {
	color: #555 !important;
	background-color: #ddd !important;
}

.spacer20 {height: 20px;}
.padding20 {padding: 20px;}
.rounded5 {border-radius: 5px;}

.grayFont {color: #444;}
.greenBackground {background: #7d7;}
.whiteBackground {background: #fff;}

ul.nav.navbar-nav.navbar-right li a:hover, ul.nav.navbar-nav.navbar-right li.active a {
	border: 0;
	border-radius: 0;
	background-color: #7d7;
}

.navbar li a {
	border: 0;
	color: #fff;
	display: block;
	text-transform: uppercase;
	padding: 25px 20px 25px 25px;
}


footer a, footer a:hover, .navbar a {
	color: #fff;
	text-decoration: none;
	border-bottom: 1px dotted #fff;
}

footer {
	bottom: 0;
	width: 100%;
	position: absolute;
	background: #7d7;
}
