html {
	min-height: 100%;
	position: relative;
}

body {
	background: url(../img/noise.png)  repeat top left;
	font-family: "Roboto", Lato, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	color:#555;
	margin-bottom: 40px;
	overflow: scroll;
}

a {
	color: #75b1f2;
}
a:hover {
	cursor: pointer;
	color: #11c;
}

.padLeft15 {
    padding-left: 15px;
}

.whiteFont {color: #fff;}
.padding10 {padding: 10px;}
.padding20 {padding: 20px;}
.padding40 {padding: 40px;}
.colorBackground {
	background-color: #75b1f2 !important;
}

.lightFont {
	color:#aaa; 
	font-size:18px;
}

.btn-info {
		border-color: #1ab;
		background-color: #75b1f2;
}

.navbar-toggle .icon-bar {
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}

/* ANIMATED X */
.navbar-toggle.x .icon-bar:nth-of-type(1) {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-transform-origin: 10% 10%;
	-moz-transform-origin: 10% 10%;
	-ms-transform-origin: 10% 10%;
	-o-transform-origin: 10% 10%;
	transform-origin: 10% 10%;
	background-color: #000;
}

.navbar-toggle.x .icon-bar:nth-of-type(2) {
	opacity: 0;
	filter: alpha(opacity=0);
	background-color: #000;
}

.navbar-toggle.x .icon-bar:nth-of-type(3) {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-transform-origin: 10% 90%;
	-moz-transform-origin: 10% 90%;
	-ms-transform-origin: 10% 90%;
	-o-transform-origin: 10% 90%;
	transform-origin: 10% 90%;
	background-color: #000;
}

/* ANIMATED X COLLAPSED */
.navbar-toggle.x.collapsed .icon-bar:nth-of-type(1) {
	-webkit-transform: rotate(0);
	-moz-transform: rotate(0);
	-ms-transform: rotate(0);
	-o-transform: rotate(0);
	transform: rotate(0);
}

.navbar-toggle.x.collapsed .icon-bar:nth-of-type(2) {
	opacity: 1;
	filter: alpha(opacity=100);
}
.navbar-toggle.x.collapsed .icon-bar:nth-of-type(3) {
	-webkit-transform: rotate(0);
	-moz-transform: rotate(0);
	-ms-transform: rotate(0);
	-o-transform: rotate(0);
	transform: rotate(0);
}
/* END ANIMATED X */

.navbar-inverse .navbar-toggle.x {
	border-color: transparent;
}
.navbar-inverse .navbar-toggle.x:focus {
    background-color: #75b1f2;
}
.navbar-inverse .navbar-toggle.x:hover {
    background-color: #75b1f2;
}

.navbar .navbar-brand {
	color: #000;
}
.navbar li {
	font-size: 13px;
	text-transform: uppercase;
}
.navbar, .navbar-collapse {
	border: 0;
	background: none;
}
.navbar li a {
	color: #000 !important;
}
.navbar li a:hover, .active a {
	color: #fff !important;
	background: none !important;
	border-bottom: 1px solid #fff;
}

.sm-gutter {
  margin-right: -5px;
  margin-left: -5px;
}
.sm-gutter > [class*="col-"] {
  padding-right: 5px;
  padding-left: 5px;
}

.color-selector {
	padding: 0 12px;
	list-style-type: none;
}
.color-selector li {
	float: right;
}
.color-selector li p {
    display: block;
    text-align: center;
    padding-top: 17px;
    padding-left: 4px;
    padding-right: 4px;
    text-decoration: none;
    color: white;
}
.color-selector li a {
    display: block;
    text-align: center;
    padding-top: 17px;
    padding-left: 4px;
    padding-right: 4px;
    text-decoration: none;
}
.color-selector li a:hover, .active a {
	border-bottom: 0;
}

.form-control:focus {
  border-color: #75b1f2;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 4px rgba(20, 60, 255, 0.6);
}

.wrapper {
  text-align: center;
  margin:0 auto; }

.svg-icon {
  display: inline-block;
  padding-left: 8px;
  padding-right: 5px;
  vertical-align: bottom; }

.links {
    margin: 0 auto;
    text-align: center;
    display: flex;
    width: 80%;
    justify-content: center
}

.links:after {
  content: "";
  display: table;
  clear: both;
}

footer {
	bottom: 0;
	width: 100%;
	font-size: 13px;
	position: absolute;
	text-align: center;
}
footer p {
    margin: auto;
	color: #000 !important;
}

/* Drop shadow without images
 * http://www.prowebdesign.ro/round-brush-like-responsive-drop-shadows-with-css3-and-no-images/ */

.css3-shadow {
	position: relative;
	-webkit-box-shadow: 0 1px 4px rgba(117, 177, 242, 0.3);
	   -moz-box-shadow: 0 1px 4px rgba(117, 177, 242, 0.3);
			box-shadow: 0 1px 4px rgba(117, 177, 242, 0.3);
}

/*
 * Drop shadow effect with box-shadow
 */
.css3-shadow:after {
	content: "";
	position: absolute;
	z-index: -1;
	-webkit-box-shadow: 0 0 40px rgba(117, 177, 242, 0.8);
	   -moz-box-shadow: 0 0 40px rgba(117, 177, 242, 0.8);
			box-shadow: 0 0 40px rgba(117, 177, 242, 0.8);
	bottom: 0;
	width: 80%;
	height: 50%;
	-moz-border-radius: 100%;
		border-radius: 100%;
	left: 10%;
	right: 10%;
}

.box {
	background: #fff;
	margin: 10px auto 30px;
	padding: 20px;
	-moz-border-radius: 2px;
		border-radius: 2px;
}
/* / Drop shadow without images */

span.editable, .note-editor {
	border-radius: 3px !important;
	border: 1px dotted #c7c1ed !important;
}

